:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'Oxygen';
  src: url('insightsai/public/Oxygen-Light.ttf') format('woff2'),
       url('insightsai/public/Oxygen-Light.ttf') format('woff'),
       url('insightsai/public/Oxygen-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

header{
  background-color: #242424;
  color: #fff;
  padding: 10px;
  z-index: 1000;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.paragraph {
  cursor: pointer;
  transition: color 0.3s;
}

.paragraph:hover {
  color: grey;
}

#welcome {
  text-align: center !important;
  font-size: 48px !important;
  margin-top: 50vh !important;
  transform: translateY(-50%) !important;
}

/* Reset or redefine other CSS classes and styles if necessary */
header {
  position: sticky;
  top: 0;
  background-color: #333; /* Change this to your preferred background color */
  color: #fff; /* Change this to your preferred text color */
  padding: 10px;
  z-index: 1000; /* Adjust this value to make sure the header is above other content */
}

#content {
  /* Add padding or margin to the content to prevent it from being hidden behind the header */
  padding-top: 60px; /* Adjust this value to match the header height */
}
.score-container {
  position: absolute  !important; /* Position the score container absolutely within the page */
  top: 10px !important; /* Adjust the top value to control the vertical positioning */
  right: 10px !important; /* Adjust the right value to control the horizontal positioning */
  background-color: #1a1a1a !important; /* Set the background color for the score container */
  padding: 10px !important; /* Add some padding for better visibility */
  border-radius: 5px !important;/* Add rounded corners for a nice appearance */
  color: #fff !important; /* Set the text color */
}
